@charset "utf-8";
/* CSS Document */


div.linksearch {
	text-align:center;
	margin-top:2px;
}

div.logo {
	margin-top:100px;	
}

div.search {
	alignment-adjust:central;
	height:38px;
	text-height:28px;
}

div.link {
	alignment-adjust:central;
}

div.footer {
	margin-top:300px;
	font-size:10px;
}

